DATABASE_URL="postgresql://softify:softify@localhost:5432/softifyos?schema=public"
AUTH_SECRET="softifyos-dev-secret-change-me-in-production-32chars"
APP_URL="http://localhost:3000"
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY="AIzaSyBful_qmoS_carA8tIh9LFzvcVjgto2e_s"
NEXT_PUBLIC_GOOGLE_MAPS_MAP_ID="AIzaSyBful_qmoS_carA8tIh9LFzvcVjgto2e_s"
